<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="EUVIN/bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="EUVIN/css/style.css">
    <!--<link href="css/style.css" rel="stylesheet">-->

<body>
    <div class="container">

        <div class="content">
            <form class="form form-cadastro">

                <h2 class="title title-second">Cadastro de Equipe:</h2>
                
                <label class="label-input">
                    <i class="fa fa-id-badge icon-modify"></i>
                    <input type="text" placeholder="Código da Equipe...">
                </label>
                
                <select class="select">
                	<option value=""></option>
                	<option th:each="usuarioLider : ${usuariosLiderList}" th:value="${usuarioLider.id}" th:text="${usuarioLider.nome}"/>
                </select>   
                
                <select class="select" >   
                    <option>&#xf074; Empresa...</option>                
                    <option>&#xf074; 90814926000103</option>
                </select>
                <button class="btn btn-second">Cadastrar</button>
            </form>

        </div>
    </div>
</body>

</head>

</html>
