<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="EUVIN/bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="EUVIN/css/style.css">
    <!--<link href="css/style.css" rel="stylesheet">-->

<body>
    <div class="container">

        <div class="content">
            <form class="form form-cadastro" th:action="@{/cadastrarUsuario}" method="post" th:object="${cadastrarUsuarioForm}">

                <h2 class="title title-second">Cadastro de Usuário:</h2>
                
                <label class="label-input">
                    <i class="fa fa-id-badge icon-modify"></i>
                    <input type="text" placeholder="Nome..." th:field="*{nome}">
                </label>

                <label class="label-input">
                    <i class="fa fa-id-badge icon-modify"></i>
                    <input type="text" placeholder="CPF..." th:field="*{cpf}">
                </label>
                
                <label class="label-input">
                	<i class="fa fa-id-badge icon-modify"></i>
                    <input type="email" placeholder="Email..." th:field="*{email}">
                </label>
                
                <label class="label-input">
                    <i class="fa fa-id-badge icon-modify"></i>
                    <input type="text" placeholder="Cargo..." th:field="*{cargo}">
                </label>
                
                <label class="label-input">
                    <i class="fa fa-id-badge icon-modify"></i>
                    <input type="text" placeholder="Turno..." th:field="*{turno}">
                </label>
                
                <label class="label-input">
                	<i class="fa fa-id-badge icon-modify"></i>
                	<select id=tipoUsuario th:field="*{roles}">
			            <option value="" selected disabled>Escolha o tipo de usuário</option>
			            <option value="ADMIN">Administrador</option>
			            <option value="LIDER">Líder</option>
			            <option value="USER">Usuário Comum</option>
			        </select>
                </label>
                
                <button class="btn btn-second" type="submit">Salvar</button>
            </form>
        </div>

    </div>
</body>

</head>

</html>
