<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="EUVIN/css/bootstrap.min.css">
    <link rel="stylesheet" href="EUVIN/css/style.css">
    <!--<link href="css/style.css" rel="stylesheet">-->

<body onload="startTime()">
    <nav class="menu">
        <ul>
            <li>Empresa
                <ul>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cadastrarEmpresa}"><li>Cadastrar Empresa</li></a>
                    <a href=""><li>Consultar Empresa</li></a>
                    <a href=""><li>Editar Empresa</li></a>
                    <a href=""><li>Excluir Empresa</li></a>
                </ul>
            </li>
            <li>Equipe
                <ul>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cadastrarEquipe}"><li>Cadastrar Equipe</li></a>
                    <a href=""><li>Cadastrar Usuário em Equipe</li></a>
                    <a href=""><li>Consultar Equipe</li></a>
                    <a href=""><li>Editar Equipe</li></a>
                    <a href=""><li>Excluir Equipe</li></a>
                </ul>
            </li>
            <li>Usuário
                <ul>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cadastrarUsuario}"><li>Cadastrar Usuário</li></a>
                    <a href="cadastroUsuarioEquipe.html"><li>Cadastrar Usuário em Equipe</li></a>
                    <a href=""><li>Consultar Usuário</li></a>
                    <a href=""><li>Editar Usuário</li></a>
                    <a href=""><li>Excluir Usuário</li></a>
                </ul>
            </li>
            <li>Ponto
                <ul>
                    <a href="controlePonto.html"><li>Cadastrar Ponto</li></a>
                    <a href=""><li>Consultar Ponto</li></a>
                    <a href=""><li>Editar Ponto</li></a>
                    <a href=""><li>Excluir Ponto</li></a>
                </ul>
            </li>
        </ul>
    </nav>
    
    <div class="container">

        <div class="content">
            <form class="form form-cadastro">

                <script src="EUVIN/js/relogioPonto.js"></script>
                
                <h2 class="title title-second">Controle de Ponto:</h2>
                
                <label id="relogioDinamico"></label>
                

                <h4 class="third">Começo de Jornada</h4>
                
                <div class="form-row">
                <label id="mostrarHora1" class="label-label-primary">00:00:00</label>
                <button id = "btn1" class="btn btn-third"><i class="fa fa-check icon-modify2"></i></button>
                </div>
                <!-- 
                    Ao clicar nesse botao, mostrar na label (mostrarHora) o horario atual (horario do click) 
                    Utilizar Bootstrap e deixar o botao redondo com um icone dentro de check, e a label ao lado
                -->
                
                <h4 class="third">Saída para Almoço</h4>
                
                <div class="form-row">
                <label id="mostrarHora2" class="label-label-primary">--:--:--</label>
                <button id="btn2" class="btn btn-third-disabled" disabled><i class="fa fa-check icon-modify2" ></i></button>
                </div>
                <!-- 
                    Ao clicar nesse botao, mostrar na label (mostrarHora) o horario atual (horario do click) 
                    Utilizar Bootstrap e deixar o botao redondo com um icone dentro de check, e a label ao lado
                -->

                
                
                <h4 class="third">Retorno do Almoço</h4>
                
                <div class="form-row">
                <label id="mostrarHora3" class="label-label-primary">--:--:--</label>
                <button class="btn btn-third-disabled" disabled><i class="fa fa-check icon-modify2"></i></button>
                </div>
                <!-- 
                    Ao clicar nesse botao, mostrar na label (mostrarHora) o horario atual (horario do click) 
                    Utilizar Bootstrap e deixar o botao redondo com um icone dentro de check, e a label ao lado
                -->
                
                
                
                <h4 class="third">Fim de Jornada</h4>
                
                <div class="form-row">
                <label id="mostrarHora4" class="label-label-primary">--:--:--</label>
                <button class="btn btn-third-disabled" disabled><i class="fa fa-check icon-modify2"></i></button>
                </div>
                <!-- 
                    Ao clicar nesse botao, mostrar na label (mostrarHora) o horario atual (horario do click) 
                    Utilizar Bootstrap e deixar o botao redondo com um icone dentro de check, e a label ao lado
                -->
                
                <br>
                <br>
                <!-- <button class="btn btn-second">Assinar</button> -->
            </form>

        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</head>

</html>
